body {
  background-image: url("https://fastly.picsum.photos/id/1041/600/400.jpg?hmac=fT9RhHtZWmOM7fmddje0YON7pMd_Ri50ddm7epW-FyI");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: white;
  background-color: grey;
  font-size: 35px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

img {
  width: 100px;
  object-fit: cover;
  width: 200px;
}

.caterpie {
  background-color: #79d651;
}

.articuno {
  background-color: #4a97e9;
}

.charmander {
  background-color: #ffcc80;
}

footer {
  color: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
  .grilla {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grilla {
    grid-template-columns: 1fr;
  }
}
