body {
  margin: 0; /* Elimina el margen externo */
  padding: 0; /* Elimina el espacio interno */
  display: flex; /* Usa Flexbox para organizar los elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
  background-color: rgb(11, 60, 96);
  font-family: Arial, sans-serif;
  flex-direction: column; /* Acomoda los elementos en columna */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  background-color: rgb(48, 127, 211);
  padding: 30px; /* Agrega espacio interno */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px; /* Fija el ancho de la caja */
}

h1 {
  color: rgb(234, 242, 248);
  margin-bottom: 20px; /* Agrega espacio debajo del título */
  letter-spacing: 3px;
}

input {
  width: 92.1%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(174, 214, 241);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.links {
  margin-top: 15px;
  color: rgb(139, 174, 197);
}

.links a {
  display: block; /* Hace que los enlaces ocupen una línea completa */
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

.volver {
  display: block;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  text-align: center;
  width: 350px;
}
