.lista {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.lista li {
    display: inline-block; /* Los <li> se comportan como bloques en línea */
    width: 150px; /* Ancho fijo para los elementos */
    height: 50px; /* Alto */
    background-color: rgb(211, 84, 0); /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    line-height: 50px; /* Centra verticalmente el texto */
    margin: 10px; /* Espaciado */
    border-radius: 5px; /* Bordes */
}